body{
    background-color: #0c1c2c;
    color:#77809e;
    font-family: 'JetBrains Mono', monospace;
}
.navbar-custom{
    background-color: #0b1828;
}
span{
    color:#3a968c;
}
.my-img{
    border: 4px solid #3a968c;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
ul {
    list-style: none;

}

ul li a{
    text-decoration: none;
    color:#3a968c;
}
.headlist ul li a{
    font-size: 15px;
}
.line {
    height: 8px; /* diametre */
    width: 10%;
    background: 
      radial-gradient(circle closest-side, #77809e 90%, #0000) 
       0/14px 100%; /* 14px = 6px + 8px */
  }